* {
  text-align: center;
}

body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

h1,
h2 {
  font-family: "Permanent Marker", cursive;
  padding: 0.6em 1em;
  display: inline-block;
  color: black;
  background-color: #f1f4fd;
}


h1 {
  /* background-color: #e5ebfb; */
  background-color: white;
  font-size: 80;
  display: grid;
}

h2 {

  border: 2px solid black;
  box-shadow: -15px 7px 1px black;
}


.boards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boards_list {
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  margin-right: 2rem;
  border: black solid 1px;
  background-color: #f1f4fd;
  /* background-color: #d7d4e4; */
  /* background-color: white; */
}

.new-board-form_container,
.new-card-form_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-board-form_form,
.new-card-form_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
}

.new-board-form_form-submit-btn,
.new-card-form_form-submit-btn {
  padding: 0.5em;
  background-color: white;
  border: 2px solid black;
}

.cards_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card-items_container {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  grid-gap: 2rem;
  margin: 2rem;
}

.card-item {
  font-family: "Homemade Apple", cursive;
  font-family: 'Concert One', cursive;
  background-color: #c8c5dc;
  box-shadow: -10px 7px 7px lightgrey;
  min-height: 100px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
}

.card-item_controls {
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.card-item_message {
  text-align: center;
  font-size: 1.4rem;
  word-break: break-word;
}

.card-item_controls > li:hover{
  text-decoration: underline;
}

input {
  box-sizing: content-box;
}

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/812/895/large_2x/beautiful-pink-flower-look-likes-sakura-flower-or-cherry-blossom-with-beautiful-nature-background-spring-flower-tree-blossom-the-romantic-of-pink-flower-trees-for-valentine-or-wedding-background-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.content__container {
  flex: 1 0 auto;
}

button {
  background-color: #d7d4e4;
}

.selected_board {
  margin-top: 60px;
  font-weight: bold;
  font-size: large;

}


